# See https:/help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/node_modules
server/.git
node_modules
client/node_modules
client/.git
/.pnp
.pnp.js

# testing
server/coverage
client/coverage

# production
server/build
client/build

# misc
server/.DS_Store
client/.DS_Store
server/.env.local
client/.env.local
client/.env
server/.env
server/.env.development.local
client/.env.development.local
server/.env.test.local
client/.env.test.local
server/.env.production.local
client/.env.production.local

server/npm-debug.log*
client/npm-debug.log*
server/yarn-debug.log*
client/yarn-debug.log*
server/yarn-error.log*
client/yarn-error.log*
